<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :link %>
  <%= text_input f, :link %>
  <%= error_tag f, :link %>

  <div>
    <%= submit "Next" %>
  </div>
</.form>
